dependencies.lock
build/
sdkconfig.old

main/main_mrb.h
main/spiffs/*.pem
main/spiffs/*.pem.key
main/spiffs/*.pem.crt

components/mruby_component/esp32_build_config.rb.lock
managed_components

.vscode
